.layout {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    align-items: center;
  
  }
  
.layout .header {
  width: 100vw;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    align-items:flex-start;
  justify-content: left;
  background-color: #0772B3;
  font-size: calc(10px + 2vmin);
  /*Z-index is necessary for correct interaction with the drawer*/
  z-index: 10; 
}

.layout .body {
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.loading {
  opacity: 0.2;
}

.layout .footer {
  background-color: white;
  height: 8vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content:flex-start;
  font-size: calc(10px + 2vmin);
  /*Z-index is necessary for correct interaction with the drawer*/
  z-index: 10;
}

.footer .copy {
  margin-left: 40px;
  font-size:medium;
}