.add-category {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start,
}

.add-category .form{
    display: flex;
    width: 100%;
    flex-direction: row;    
    justify-content: space-between;
}

.add-category .form .text-field {
    display: flex;
    flex-grow: 1;
}

.add-category .form .button {
    display: flex;
}
