.planned-transactions-list-item {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 10px;
    padding: 10px;
    
}

.planned-transactions-list-item .category-name {
    display: flex;    
    align-items: center;
}

.planned-transactions-list-item .cron {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content:space-between;
    border-left: 1px solid #ccc;
}

.planned-transactions-list-item .price {
    display: flex;
    justify-content: end;
    align-items: center;
    border-left: 1px solid #ccc;
    padding-right: 5px;
}

.planned-transactions-list-item .comment {
    margin: 10px;
}